# GitHub Packages 配置
@star-devil:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=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

# npm 官方仓库配置
registry=https://registry.npmjs.org
//registry.npmjs.org/:_authToken=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