{
  "jsxSingleQuote": false,
  "singleQuote": true,
  "endOfLine": "lf",
  "semi": true,
  "trailingComma": "none",
  "insertPragma": true,
  "requirePragma": false,
  "overrides": [
    {
      "files": "*.json",
      "options": {
        "singleQuote": false
      }
    },
    {
      "files": ".prettierrc",
      "options": {
        "parser": "json"
      }
    }
  ]
}
